.introduction {
    
    height: 100%;
    margin-bottom: 3em;
    padding: 10em 2em;

    font-style: italic;
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: center;

    background: #000;
    color: #fff;

    cursor: pointer;
}

@media only screen
and (min-width : 768px)
{
    .introduction {
        font-size: 1.3em;
        padding: 300px 100px;
    }

}

.introduction-text  {
    margin: 0 auto;
}

.introduction:hover .introduction-text {
    -webkit-filter: blur(0px);
    opacity: 1;
}