.introduction {
    font-style: italic;
    font-size: 2.2em;
    line-height: 1.4em;
    height: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 300px 0px;
    cursor: pointer;
}

.introduction-text  {
}

.introduction:hover .introduction-text {
    -webkit-filter: blur(0px);
    opacity: 1;
}