@import "compass";

@import "variables.scss";
@import "mixins.scss";
@import "article.scss";
@import "base.scss";
@import "carousel.scss";
@import "introduction.scss";
@import "header.scss";
@import "teaser.scss";

* {
    margin: 0;
}

#canvas1 {
    z-index: -1;
    position: absolute;
    top: 0px;

}
#canvas2 {
    z-index: -1;
    position: absolute;
    top: 1000px;
}

body {
    font-family: "calluna", "Helvetica Neue", "Arial";
    font-size: 16px;
    line-height: 1.3em;
    color: $base;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.wrap {
    margin: 0 auto;
    padding: 0px 40px;
}
.bigwrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 40px;
    text-align: center;
}
.articlewrap {
    width: 600px;
}

div#social {
    font-family: $sans;
    padding: 15px 0px;
    font-size: 0.8em;
    border-bottom: 1px dashed #ccc;
    color: #666;

    .follow-button {
        display: inline-block;
        padding: 0px 12px;
        color: $base;
        text-decoration: none;
        font-weight: bold;
        position: relative;
        top: 1px;
        background: #eee;
        margin-right: 8px;
        text-decoration: none;
        opacity: 0.5;
        &:hover {
            opacity: 1;
            text-decoration: none;
        }
    }
    .facebook-icon {
        background: url("images/facebook.png") no-repeat 0px 1px;
        padding-left: 22px;
    }
    .rss-icon {
        background: url("images/rss.png") no-repeat 0px 1px;
        padding-left: 22px;
    }
    .twitter-icon {
        background: url("images/twitter.png") no-repeat 0px 2px;
        padding-left: 22px;
    }

    .tweet {
        .twitter-date {
            color: #999;
            font-size: 0.85em;
            font-weight: normal;
            padding-left: 3px;
        }
    }
}

nav {

    padding: 30px 0px;
    line-height: 35px;
    border-bottom: 1px dashed #ccc;
    ul {
        padding: 0;

        li {
            display: inline;
            font-size: 1.5em;
            font-weight: bold;
            margin-right: 59px;
            .active {
                color: $base;
                /* border-bottom: 4px solid $base; */
            }
			&:last-child {
				margin-right: 0;
			}
            a {
				font-family: $sans;
				text-transform: uppercase;
				font-size: 0.7em;
				color: lighten($base, 40%);
                border-bottom: 4px solid transparent;

				&:hover {
					text-decoration: none;
				};
            }
        }
    }
}

div#logo {
    height: 200px;
    width: 100%;
    background: #fff url("images/logo.png") no-repeat 50%;
	opacity: 1;
	-webkit-transition: all 0.2s;
	&:hover section#intro {
		opacity: 1;
	}
	&:hover {
		opacity: 0.5;
	}
	border-bottom: 1px dashed #ccc;
	&.recent {
		border-bottom: 0;
		opacity: 1;
		height: 200px;
	}
}

section#intro {
    padding: 45px 0px 0px 0px;
    line-height: 1.5em;
    font-size: 1.1em;
    text-align: center;
	font-style: italic;
	-webkit-transition: all 0.4s;
    .intro-title {
        font-size: 1.4em;
        font-weight: bold;
    }
	opacity: 0;
	&:hover {
		opacity: 1;
	}
	background: #fff;

}
#teasers {
    padding: 75px 0px;

    background: #242424;
    a {
        color: $base;
        text-decoration: none;
    }
    ul {
        margin-bottom: 100px;
    }
    &:hover .teaser {
        opacity: 1;
    }
}
.caption {
    h3 a {
        border-radius: 200px;
        font-weight: bold;
        color: #fff;
        font-family: $sans;
        font-size: 0.7em;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: relative;
        top: 30px;
        z-index: 3;
        padding: 7px 14px 15px 14px;
        background: $base;
        display: inline-block;
        height: 20px;
        margin-bottom: 5px;
        &:hover {
            top: 20px;
            height: 20px;
            margin-bottom: -5px;
			text-decoration: none;
        }
    }
}
.negative {
    background: $base;
    h3 a {
        color: $base;
        background: #fff;
    }
}

.teaser {
	font-size: 16px;
    position: relative;
	display: inline-block;
    margin: 20px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;

    transition: all 0.3s ease;
    moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    opacity: 0.5;

    border: 10px solid transparent;
}
.teaser hr {
	border: 0;
	width: 180px;
	margin: 0 auto;
	height: 1px;
	background: rgba(0, 0, 0, 0);
	transition: all 0.3s ease;
    moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.teaser a {
    color: #121212;
	width: 100%;
	height: 100%;
	float: left;

}
.teaser .teaser-headline {
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 1);
    position: relative;
    top: 65%;
    left: 0px;
    z-index: 2;
    float: left;
    text-align: center;
    padding: 10px 0px 0px 0px;
	box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
    moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.teaser .teaser-headline h2 {
    height: 100px;
    height: 54px;
    position: relative;
    top: -5%;
    vertical-align: center;
    font-size: 0.9em;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
	line-height: 1.3em;
    transition: all 0.3s ease;
    moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.teaser .teaser-headline p {
	padding: 10px 60px 0px 60px;
	text-transform: uppercase;
	font-size: 0.8em;
	transition: all 0.5s ease;
    moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.teaser .teaser-intro {
    width: 100%;
    height: 50%;
    position: relative;
    top: -10px;
    left: 0px;
    z-index: 10;
    float: left;
    text-align: center;
    padding: 10px 0px 0px 0px;
    opacity: 0;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.teaser .teaser-intro p {
    padding: 0px 10px;
    font-size: 1.2em;
    position: relative;
    top: 10%;

}
.teaser img {
    position: relative;
    top: -55%;
    left: -25%;
    transition: all 0.3s ease;
    moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    z-index: 1;
    height: 100%;
}

.teaser:hover img {
	top: -100%;
}

.teaser:hover .teaser-headline {
	background: rgba(255, 255, 255, 1);
	top: 48%;
}

.teaser:hover .teaser-headline h2 {
	top: 0%;
}

.teaser:hover .teaser-headline p {
	opacity: 1;
}

.teaser:hover hr{
	background: rgba(0, 0, 0, 0.4);
}

section#articles {
    background: #fff;
    border-bottom: 1px dashed #ccc;
    padding-top: 75px;
}



footer {
    text-align: center;
    margin: 200px 0px 100px 0px;
    font-family: $sans;
    a {
        display: inline;
    }
    .bullet {
        font-family: $serif;
        display: inline;
        padding: 0px 15px;
        color: lighten($base, 40%);
    }
    .copyright {
        display: block;
        margin-top: 15px;
        color: lighten($base, 40%);
    }

}

p {
    margin-bottom: 25px;
    overflow: hidden;
}



.video {
	height: 0;
	padding-top: 25px;
	padding-bottom: 67.5%;
	position: relative;
	overflow: visible;
	left: 0;
}
.video.vimeo {
	padding-top: 0px;
}
.video.widescreen {
	padding-bottom: 56%;
}
.video embed, .video iframe, .video object, .video video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
/* Responsive */
@media (max-width: 767px) {
	.video {
		padding-top: 0;
	}
}

.author-info {
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.3em;
    margin: 65px 0px 0px 0px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    padding: 45px 0px;

    &:only-child {
        margin: 65px 0px 65px 0px;
    }
    &.illustrator {
        border-top: none;
        margin: 0px 0px 65px 0px;

    }
    .author-role {
        padding-top: 5px;
        text-transform: uppercase;
        font-size: 0.65em;
        display: block;
        line-height: 1.4em;
        color: lighten($base, 40%);

    }
    .author-photo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: inline-block;
        float: left;
        margin: 0px 25px 0px 0px;
        &.illustrator {
            float: right;
            margin: 0px 0px 0px 25px;
        }
    }
    span {
        font-family: $sans;
        text-align: left;
        font-weight: bold;
        font-style: normal;
    }
    p {
        margin-top: 10px;
    }
}

iframe {
    margin: 0;
    padding: 0;
    border: 0;
}

.aftervideo {
    padding-top: 0px !important;
}

.video-overlay {
    margin-top: 100px;
    text-align: center;
    position:relative;
    z-index: 100;
    font-family: $sans;
    font-size: 1em;
    line-height: 1.3em;
    top: -50px;
    .wrap {
        width: 600px;
        padding: 20px;
        background: #fff;
    }
    .video-title {
        font-style: italic;
        font-size: 1.3em;
        line-height: 1.1em;
    }
    .video-credits {
        margin-top: 10px;
    }
}

#quick-nav {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 20px;
    border-radius: 50%;
    background: $base;
}

#hugelink {
	width: 100%;
	height: 100%;
	background: #ff0000;
}