.articles {
  font-size: 1.1em;
  padding-top: 1em;
  max-width: 1500px;
  margin: 0 auto; }
  .articles article {
    opacity: 1; }

article {
  font-weight: normal;
  line-height: 1.5em;
  font-size: 1em;
  opacity: 0.5;
  width: 50%;
  margin: 0 auto;
  -webkit-transition: all 0.2s; }
  article:hover {
    opacity: 1; }
  article span {
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 35px;
    background: #fff;
    position: relative;
    padding: 0px 15px;
    z-index: 2;
    display: inline-block; }
    article span a {
      font-weight: normal;
      color: #8a8a8a; }
      article span a:hover {
        color: #242424;
        text-decoration: none; }
  article img {
    position: relative;
    display: block;
    max-width: 100%;
    margin: 25px auto; }
  article .readmore {
    font-family: "open-sans", "camingodos-web", "Helvetica Neue", "Arial";
    font-size: 0.7em;
    padding: 2px 5px;
    text-transform: uppercase;
    margin-left: 3px; }
    article .readmore:hover {
      opacity: 1; }

h1 {
  text-align: center;
  font-size: 8em;
  font-family: "open-sans", "camingodos-web", "Helvetica Neue", "Arial"; }

h2 {
  text-align: center;
  font-size: 2.3em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "open-sans", "camingodos-web", "Helvetica Neue", "Arial"; }

h3 {
  text-align: left;
  font-weight: normal;
  font-family: "open-sans", "camingodos-web", "Helvetica Neue", "Arial";
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0.5em; }

h4 {
  font-size: 0.9em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1.3em; }

blockquote {
  font-style: italic;
  font-size: 1.3em;
  line-height: 1.4em;
  border-left: 4px solid black;
  position: relative;
  left: -35px;
  padding-left: 31px;
  margin: 1.5em 0; }

blockquote small, .author {
  display: block;
  font-size: 0.6em;
  font-style: normal;
  margin-top: 0.5em;
  line-height: 1.3em;
  color: #717171;
  font-family: "open-sans", "camingodos-web", "Helvetica Neue", "Arial"; }

.underline {
  border-bottom: 2px solid white;
  width: 100px;
  display: inline-block;
  margin-top: 3em; }

.introduction {
  font-style: italic;
  font-size: 1.9em;
  line-height: 1.4em;
  height: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  padding-bottom: 100px; }

header {
  height: 100%;
  text-align: center;
  padding: 8em 0px;
  background: black;
  color: #fff; }

.teaser {
  font-size: 16px;
  position: relative;
  display: inline-block;
  margin: 20px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0.5;
  border: 10px solid transparent; }

.teaser hr {
  border: 0;
  width: 180px;
  margin: 0 auto;
  height: 1px;
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

.teaser a {
  color: #121212;
  width: 100%;
  height: 100%;
  float: left; }

.teaser .teaser-headline {
  width: 100%;
  height: 50%;
  background: white;
  position: relative;
  top: 65%;
  left: 0px;
  z-index: 2;
  float: left;
  text-align: center;
  padding: 10px 0px 0px 0px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

.teaser .teaser-headline h2 {
  height: 100px;
  height: 54px;
  position: relative;
  top: -5%;
  vertical-align: center;
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 30px 10px 30px;
  line-height: 1.3em;
  transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

.teaser .teaser-headline p {
  padding: 10px 60px 0px 60px;
  text-transform: uppercase;
  font-size: 0.8em;
  transition: all 0.5s ease;
  moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; }

.teaser .teaser-intro {
  width: 100%;
  height: 50%;
  position: relative;
  top: -10px;
  left: 0px;
  z-index: 10;
  float: left;
  text-align: center;
  padding: 10px 0px 0px 0px;
  opacity: 0;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; }

.teaser .teaser-intro p {
  padding: 0px 10px;
  font-size: 1.2em;
  position: relative;
  top: 10%; }

.teaser img {
  position: relative;
  top: -55%;
  left: -25%;
  transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  z-index: 1;
  height: 100%; }

.teaser:hover img {
  top: -100%; }

.teaser:hover .teaser-headline {
  background: white;
  top: 48%; }

.teaser:hover .teaser-headline h2 {
  top: 0%; }

.teaser:hover .teaser-headline p {
  opacity: 1; }

.teaser:hover hr {
  background: rgba(0, 0, 0, 0.4); }

* {
  margin: 0; }

#canvas1 {
  z-index: -1;
  position: absolute;
  top: 0px; }

#canvas2 {
  z-index: -1;
  position: absolute;
  top: 1000px; }

body {
  font-family: "calluna", "Helvetica Neue", "Arial";
  font-size: 16px;
  line-height: 1.3em;
  color: #242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }
  body a {
    color: #242424;
    -webkit-transition: all 0.2s;
    font-weight: bold;
    text-decoration: none; }
  body a:hover {
    color: #242424;
    text-decoration: underline; }

.wrap {
  margin: 0 auto;
  padding: 0px 40px; }

.bigwrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 40px;
  text-align: center; }

.articlewrap {
  width: 600px; }

div#social {
  font-family: "open-sans", "camingodos-web", "Helvetica Neue", "Arial";
  padding: 15px 0px;
  font-size: 0.8em;
  border-bottom: 1px dashed #ccc;
  color: #666; }
  div#social .follow-button {
    display: inline-block;
    padding: 0px 12px;
    color: #242424;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    top: 1px;
    background: #eee;
    margin-right: 8px;
    text-decoration: none;
    opacity: 0.5; }
    div#social .follow-button:hover {
      opacity: 1;
      text-decoration: none; }
  div#social .facebook-icon {
    background: url("images/facebook.png") no-repeat 0px 1px;
    padding-left: 22px; }
  div#social .rss-icon {
    background: url("images/rss.png") no-repeat 0px 1px;
    padding-left: 22px; }
  div#social .twitter-icon {
    background: url("images/twitter.png") no-repeat 0px 2px;
    padding-left: 22px; }
  div#social .tweet .twitter-date {
    color: #999;
    font-size: 0.85em;
    font-weight: normal;
    padding-left: 3px; }

nav {
  padding: 30px 0px;
  line-height: 35px;
  border-bottom: 1px dashed #ccc; }
  nav ul {
    padding: 0; }
    nav ul li {
      display: inline;
      font-size: 1.5em;
      font-weight: bold;
      margin-right: 59px; }
      nav ul li .active {
        color: #242424;
        /* border-bottom: 4px solid $base; */ }
      nav ul li:last-child {
        margin-right: 0; }
      nav ul li a {
        font-family: "open-sans", "camingodos-web", "Helvetica Neue", "Arial";
        text-transform: uppercase;
        font-size: 0.7em;
        color: #8a8a8a;
        border-bottom: 4px solid transparent; }
        nav ul li a:hover {
          text-decoration: none; }

div#logo {
  height: 200px;
  width: 100%;
  background: white url("images/logo.png") no-repeat 50%;
  opacity: 1;
  -webkit-transition: all 0.2s;
  border-bottom: 1px dashed #ccc; }
  div#logo:hover section#intro {
    opacity: 1; }
  div#logo:hover {
    opacity: 0.5; }
  div#logo.recent {
    border-bottom: 0;
    opacity: 1;
    height: 200px; }

section#intro {
  padding: 45px 0px 0px 0px;
  line-height: 1.5em;
  font-size: 1.1em;
  text-align: center;
  font-style: italic;
  -webkit-transition: all 0.4s;
  opacity: 0;
  background: #fff; }
  section#intro .intro-title {
    font-size: 1.4em;
    font-weight: bold; }
  section#intro:hover {
    opacity: 1; }

#teasers {
  padding: 75px 0px;
  background: #242424; }
  #teasers a {
    color: #242424;
    text-decoration: none; }
  #teasers ul {
    margin-bottom: 100px; }
  #teasers:hover .teaser {
    opacity: 1; }

.caption h3 a {
  border-radius: 200px;
  font-weight: bold;
  color: #fff;
  font-family: "open-sans", "camingodos-web", "Helvetica Neue", "Arial";
  font-size: 0.7em;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  top: 30px;
  z-index: 3;
  padding: 7px 14px 15px 14px;
  background: #242424;
  display: inline-block;
  height: 20px;
  margin-bottom: 5px; }
  .caption h3 a:hover {
    top: 20px;
    height: 20px;
    margin-bottom: -5px;
    text-decoration: none; }

.negative {
  background: #242424; }
  .negative h3 a {
    color: #242424;
    background: #fff; }

.teaser {
  font-size: 16px;
  position: relative;
  display: inline-block;
  margin: 20px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0.5;
  border: 10px solid transparent; }

.teaser hr {
  border: 0;
  width: 180px;
  margin: 0 auto;
  height: 1px;
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

.teaser a {
  color: #121212;
  width: 100%;
  height: 100%;
  float: left; }

.teaser .teaser-headline {
  width: 100%;
  height: 50%;
  background: white;
  position: relative;
  top: 65%;
  left: 0px;
  z-index: 2;
  float: left;
  text-align: center;
  padding: 10px 0px 0px 0px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

.teaser .teaser-headline h2 {
  height: 100px;
  height: 54px;
  position: relative;
  top: -5%;
  vertical-align: center;
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 30px 10px 30px;
  line-height: 1.3em;
  transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

.teaser .teaser-headline p {
  padding: 10px 60px 0px 60px;
  text-transform: uppercase;
  font-size: 0.8em;
  transition: all 0.5s ease;
  moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; }

.teaser .teaser-intro {
  width: 100%;
  height: 50%;
  position: relative;
  top: -10px;
  left: 0px;
  z-index: 10;
  float: left;
  text-align: center;
  padding: 10px 0px 0px 0px;
  opacity: 0;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; }

.teaser .teaser-intro p {
  padding: 0px 10px;
  font-size: 1.2em;
  position: relative;
  top: 10%; }

.teaser img {
  position: relative;
  top: -55%;
  left: -25%;
  transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  z-index: 1;
  height: 100%; }

.teaser:hover img {
  top: -100%; }

.teaser:hover .teaser-headline {
  background: white;
  top: 48%; }

.teaser:hover .teaser-headline h2 {
  top: 0%; }

.teaser:hover .teaser-headline p {
  opacity: 1; }

.teaser:hover hr {
  background: rgba(0, 0, 0, 0.4); }

section#articles {
  background: #fff;
  border-bottom: 1px dashed #ccc;
  padding-top: 75px; }

footer {
  text-align: center;
  margin: 85px 0px 100px 0px;
  font-family: "open-sans", "camingodos-web", "Helvetica Neue", "Arial"; }
  footer a {
    display: inline; }
  footer .bullet {
    font-family: "calluna", "Georgia", "Times New Roman", serif;
    display: inline;
    padding: 0px 15px;
    color: #8a8a8a; }
  footer .copyright {
    display: block;
    margin-top: 15px;
    color: #8a8a8a; }

p {
  margin-bottom: 25px;
  overflow: hidden; }

.video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  position: relative;
  overflow: visible;
  left: 0; }

.video.vimeo {
  padding-top: 0px; }

.video.widescreen {
  padding-bottom: 56%; }

.video embed, .video iframe, .video object, .video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute; }

/* Responsive */
@media (max-width: 767px) {
  .video {
    padding-top: 0; } }
.author-info {
  font-style: italic;
  font-size: 0.9em;
  line-height: 1.3em;
  margin: 65px 0px 0px 0px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  padding: 45px 0px; }
  .author-info:only-child {
    margin: 65px 0px 65px 0px; }
  .author-info.illustrator {
    border-top: none;
    margin: 0px 0px 65px 0px; }
  .author-info .author-role {
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 0.65em;
    display: block;
    line-height: 1.4em;
    color: #8a8a8a; }
  .author-info .author-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin: 0px 25px 0px 0px; }
    .author-info .author-photo.illustrator {
      float: right;
      margin: 0px 0px 0px 25px; }
  .author-info span {
    font-family: "open-sans", "camingodos-web", "Helvetica Neue", "Arial";
    text-align: left;
    font-weight: bold;
    font-style: normal; }
  .author-info p {
    margin-top: 10px; }

iframe {
  margin: 0;
  padding: 0;
  border: 0; }

.aftervideo {
  padding-top: 0px !important; }

.video-overlay {
  margin-top: 100px;
  text-align: center;
  position: relative;
  z-index: 100;
  font-family: "open-sans", "camingodos-web", "Helvetica Neue", "Arial";
  font-size: 1em;
  line-height: 1.3em;
  top: -50px; }
  .video-overlay .wrap {
    width: 600px;
    padding: 20px;
    background: #fff; }
  .video-overlay .video-title {
    font-style: italic;
    font-size: 1.3em;
    line-height: 1.1em; }
  .video-overlay .video-credits {
    margin-top: 10px; }

#quick-nav {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 20px;
  border-radius: 50%;
  background: #242424; }

/*
    Media Queries
*/
@media screen and (max-width: 700px) {
  #social {
    display: none; }

  nav {
    font-size: 0.7em; }
    nav ul li {
      margin-right: 10px; }
      nav ul li:last-child {
        margin-right: 0px; }

  section#intro {
    font-size: 0.9em; }

  #articles {
    font-size: 1em; }
    #articles img {
      max-width: 320px; }

  .wrap {
    max-width: 400px; }

  article {
    max-width: 320px;
    opacity: 1; }

  .readmore {
    background: #000;
    display: block;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    opacity: 1;
    color: #fff; }
    .readmore:hover {
      color: #fff;
      background: #666; } }
#hugelink {
  width: 100%;
  height: 100%;
  background: #ff0000; }
